* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #AB845E;
}

header {
    background-color: #DBC2AD;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

img {
    width: 50px;
}

ul {
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    list-style: none;
    margin-left: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

main {
    color: #ffffff;
    padding-top: 16px;
    padding-left: 12px;
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 12px;
}

section {
    display: flex;
}

section div {
    background-color: #000000;
    padding: 24px;
    height: 200px;
    width: 300px;
    border-radius: 16px;
}

section div:first-of-type {
    margin-right: 16px;
}